
<h1>O casamento se aproxima</h1>
<div class="countdown">
    <div class="countdown-item">
        <p class="countdown-data">{{days}}</p>
        <p class="countdown-label">Dias</p>
    </div>
    <div class="countdown-item">
        <p style="font-size: 5rem">:</p>
    </div>
    <div class="countdown-item">
        <p class="countdown-data">{{hours}}</p>
        <p class="countdown-label">Horas</p>
    </div>
    <div class="countdown-item">
        <p style="font-size: 5rem">:</p>
    </div>
    <div class="countdown-item">
        <p class="countdown-data">{{minutes}}</p>
        <p class="countdown-label">Minutos</p>
    </div>
    <div class="countdown-item">
        <p style="font-size: 5rem">:</p>
    </div>
    <div class="countdown-item">
        <p class="countdown-data">{{seconds}}</p>
        <p class="countdown-label">Segundos</p>
    </div>
</div>